body {
  min-width: 320px;
  margin: 0;
  font-family: "Gotham", sans-serif;
  color: #7b7b7b;
  font-weight: 400;
  letter-spacing: .1em; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

a {
  text-decoration: none;
  color: #7b7b7b; }
  a:hover {
    color: #434343; }

.inner {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 .5em; }

.wide_inner {
  width: 100%;
  margin: 0 auto; }

.svg-icon {
  width: 1.4em;
  height: 1.4em;
  fill: #7b7b7b;
  transition: all .375s; }
  .svg-icon:hover {
    fill: #434343;
    transition: all 0s; }

@font-face {
  font-family: 'Gotham Light';
  src: url("../fonts/gotham-light.woff") format("woff"), url("../fonts/gotham-light.woff2") format("woff2");
  font-weight: 300; }

@font-face {
  font-family: 'Gotham Bold';
  src: url("../fonts/gotham-bold.woff") format("woff"), url("../fonts/gotham-bold.woff2") format("woff2");
  font-weight: 700; }

@font-face {
  font-family: 'Gotham Medium';
  src: url("../fonts/gotham-medium.woff") format("woff"), url("../fonts/gotham-medium.woff2") format("woff2"); }

@font-face {
  font-family: 'Avenir Next Heavy';
  src: url("../fonts/AvenirNext-Heavy.woff") format("woff"), url("../fonts/AvenirNext-Heavy.woff2") format("woff2"); }

@font-face {
  font-family: 'Avenir Next bold';
  src: url("../fonts/avenir-next-bold.woff") format("woff"), url("../fonts/avenir-next-bold.woff2") format("woff2");
  font-weight: 700; }

@font-face {
  font-family: 'Avenir Next Ultra Light';
  src: url("../fonts/avenir-next-ultralight.woff") format("woff"), url("../fonts/avenir-next-ultralight.woff2") format("woff2"); }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.header {
  position: relative; }

.header-mobile {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: end;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 .5em;
  padding-top: .5em;
  padding-bottom: .1em;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  border-bottom: 1px solid #f1f1f1; }

.logo {
  display: inline-block;
  width: 70%; }
  .logo a {
    opacity: 1; }
  .logo img {
    object-fit: contain; }

.navigation-mobile {
  width: 16em;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translateX(-20em); }
  .navigation-mobile_list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    border: 1px solid #e9e9e9; }
  .navigation-mobile .group-list {
    margin-bottom: 1em; }
    .navigation-mobile .group-list_title {
      display: block;
      color: #434343;
      text-decoration: none;
      font-size: 1.2em;
      padding: .5em 1em;
      padding-left: .5em;
      background-color: #e9e9e9; }
      .navigation-mobile .group-list_title:hover {
        background: #e9e9e9; }
    .navigation-mobile .group-list_items {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; }
      .navigation-mobile .group-list_items a {
        color: #7b7b7b;
        text-decoration: none;
        font-size: 1em;
        padding: .5em 1em;
        padding-left: .5em; }
        .navigation-mobile .group-list_items a:hover {
          background: #e9e9e9; }

.header-desktop {
  display: none; }
  .header-desktop .header__top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    box-sizing: border-box;
    padding-top: 1.5em;
    padding-bottom: 5em;
    font-size: 12.5px; }
    .header-desktop .header__top-shipping {
      width: 25%; }
      .header-desktop .header__top-shipping button:hover:after {
        border-color: #434343;
        transition: all 0s; }
      .header-desktop .header__top-shipping button:after {
        content: '';
        display: inline-block;
        width: .6em;
        height: .6em;
        position: absolute;
        border-bottom: 1px solid #7b7b7b;
        border-right: 1px solid #7b7b7b;
        top: 0;
        right: -1em;
        transform: rotate(45deg);
        transition: all .375s; }
    .header-desktop .header__top .logo {
      width: 24%; }
    .header-desktop .header__top-buttons {
      width: 25%;
      text-align: right; }
      .header-desktop .header__top-buttons button:first-child {
        margin-right: 2em; }
    .header-desktop .header__top-button {
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer;
      transition: all .375s;
      position: relative;
      color: #7b7b7b;
      font-size: 12.5px; }
      .header-desktop .header__top-button:hover {
        color: #434343;
        transition: all 0s; }
        .header-desktop .header__top-button:hover .svg-icon {
          fill: #434343;
          stroke-width: 2; }
      .header-desktop .header__top-button span {
        margin-right: .5em; }
  .header-desktop .header-navigation .navigation-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    box-sizing: content-box;
    text-transform: uppercase;
    font-size: .8em;
    position: relative; }
    .header-desktop .header-navigation .navigation-bar_menu-item {
      text-decoration: none;
      box-sizing: border-box;
      padding: 1em 1em;
      color: #7b7b7b;
      border-bottom: 1px solid transparent; }
      .header-desktop .header-navigation .navigation-bar_menu-item:first-child {
        margin-right: 1em; }
      .header-desktop .header-navigation .navigation-bar_menu-item:hover {
        border-bottom: 1px solid #434343;
        color: #434343; }
    .header-desktop .header-navigation .navigation-bar_menu-item._active {
      border-bottom: 1px solid #434343;
      color: #434343; }
  .header-desktop .header-navigation .navigation-bar-secondary {
    display: none;
    width: 100%;
    -ms-flex-pack: center;
        justify-content: center;
    background: #f7f7f7;
    font-size: 12.5px;
    position: absolute; }
    .header-desktop .header-navigation .navigation-bar-secondary a {
      text-decoration: none;
      box-sizing: border-box;
      padding: 1.8em 1em;
      color: #7b7b7b;
      border-bottom: 1px solid transparent;
      margin-right: 2em; }
      .header-desktop .header-navigation .navigation-bar-secondary a:hover {
        border-bottom: 1px solid #434343;
        color: #434343; }
    .header-desktop .header-navigation .navigation-bar-secondary ._sale:hover {
      border-bottom: 1px solid red;
      color: red; }

.homepage {
  margin-top: 2em; }
  .homepage-image {
    height: 100%; }
  .homepage-cell_wide {
    width: 100%;
    height: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-top: 1px; }
    .homepage-cell_wide .homepage-image:first-child,
    .homepage-cell_wide .homepage-image:last-child {
      width: 100%;
      height: 15em;
      background-repeat: no-repeat; }
    .homepage-cell_wide .homepage-image:first-child {
      background-size: 100%; }
    .homepage-cell_wide .homepage-image:last-child {
      display: none;
      background-size: 100%; }
  .homepage-title {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    font-weight: bold; }
    .homepage-title p {
      text-transform: uppercase;
      letter-spacing: .5em;
      font-weight: 100;
      color: #434343; }
    .homepage-title a {
      font-size: 12.5px;
      color: #7b7b7b;
      font-weight: 400; }
      .homepage-title a:hover {
        color: #434343; }
  .homepage-image-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .homepage-cell_half {
    width: 100%;
    position: relative; }
    .homepage-cell_half:first-child {
      margin-right: 3em;
      margin-bottom: 1em; }
  .homepage .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    background: rgba(0, 0, 0, 0.3);
    color: #fff; }
    .homepage .image_overlay p {
      text-transform: uppercase;
      font-family: "Avenir Next Heavy", sans-serif;
      letter-spacing: .3em;
      margin-top: 120px; }
    .homepage .image_overlay a {
      color: #fff;
      font-size: 12.5px; }
      .homepage .image_overlay a:hover {
        color: #434343; }
  .homepage-bottom {
    width: 100%;
    font-size: 12.5px;
    margin-top: 2em;
    margin-bottom: 1em; }
    .homepage-bottom-title {
      text-transform: uppercase;
      font-weight: bold;
      color: #434343;
      margin-bottom: 2em; }
    .homepage-bottom-navigation {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-direction: column;
          flex-direction: column;
      margin-top: 1em; }
    .homepage-bottom-link {
      color: #7b7b7b;
      margin-bottom: 1em;
      font-size: 12.5px; }
      .homepage-bottom-link:hover {
        color: #434343; }
    .homepage-bottom .svg-icon {
      width: 1em;
      height: 1em; }

.footer {
  background: #f7f7f7;
  padding-bottom: 6em; }
  .footer-navigation {
    width: 55%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    font-size: 12.5px; }
    .footer-navigation-list {
      list-style: none;
      padding: 0; }
      .footer-navigation-list h3 {
        text-transform: uppercase;
        color: #434343; }
    .footer-navigation-item {
      margin-bottom: 1.1em; }
      .footer-navigation-item a {
        color: #7b7b7b;
        font-size: 12.5px; }
        .footer-navigation-item a:hover {
          color: #434343; }
  .footer-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: column;
        flex-direction: column;
    font-size: 12.5px; }
  .footer-settings {
    width: 100%; }
    .footer-settings_button {
      outline: none;
      border: none;
      padding: 0;
      padding-right: 1em;
      background: transparent;
      position: relative;
      margin-right: 4em; }
      .footer-settings_button:hover:after {
        border-color: #434343; }
      .footer-settings_button:after {
        content: '';
        display: inline-block;
        width: .6em;
        height: .6em;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(45deg);
        position: absolute;
        right: -1em;
        top: 0; }
      .footer-settings_button b {
        text-transform: uppercase;
        color: #434343; }
      .footer-settings_button span {
        color: #7b7b7b; }
      .footer-settings_button:hover {
        color: #434343; }
        .footer-settings_button:hover span {
          color: #434343; }
  .footer-social {
    width: 10em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: 2em; }
    .footer-social .svg-icon {
      font-size: 1.2em;
      fill: #434343; }
      .footer-social .svg-icon:hover {
        fill: #7b7b7b; }

.shoppage .filter {
  width: 100%;
  background: #f3f3f3;
  padding-bottom: 1.2em;
  padding-top: 1em;
  margin-top: 1em;
  color: #000; }
  .shoppage .filter-title {
    font-size: 2em; }
  .shoppage .filter-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    overflow-x: scroll; }
  .shoppage .filter-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .shoppage .filter-list-item {
      position: relative;
      padding-right: 2em;
      cursor: pointer;
      font-size: 12.5px;
      color: #434343;
      transition: all 0.375s; }
      .shoppage .filter-list-item:hover {
        color: #434343;
        transition: all 0s; }
      .shoppage .filter-list-item:after {
        content: '';
        display: inline-block;
        width: .5em;
        height: .5em;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -6px;
        transform: rotate(-45deg); }

.shoppage-hr {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #bcbcbc; }

.shoppage .catalog-list {
  margin-top: 2em; }

.shoppage .catalog-item {
  display: inline-block;
  width: 45%;
  margin-bottom: 2em;
  margin-right: 1.5em;
  font-size: .7em; }
  .shoppage .catalog-item:nth-child(2n) {
    margin-right: 0; }
  .shoppage .catalog-item-title {
    margin-bottom: .5em; }
    .shoppage .catalog-item-title a {
      color: #434343; }
      .shoppage .catalog-item-title a:hover {
        color: #7b7b7b; }
  .shoppage .catalog-item-price {
    margin-top: .5em; }

.shoppage .collection-list {
  margin-top: 2em; }

.shoppage .collection-item {
  display: inline-block;
  width: 45%;
  margin-bottom: 2em;
  margin-right: 1.5em; }
  .shoppage .collection-item:nth-child(2n) {
    margin-right: 0; }

.blogpage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }
  .blogpage h2 {
    margin-top: 2em;
    margin-bottom: .5em;
    color: #434343;
    font-size: 2em;
    font-weight: normal;
    text-align: center; }
  .blogpage-wrapper {
    margin: 0 auto;
    box-sizing: border-box; }
  .blogpage-item {
    width: 100%;
    height: 20em;
    display: inline-block; }
    .blogpage-item-link {
      position: relative; }
      .blogpage-item-link:hover {
        opacity: 0.1;
        transition: all .4s;
        cursor: pointer; }

.productpage {
  box-sizing: border-box;
  padding-top: 5em;
  padding-bottom: 5em; }
  .productpage .product {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
  .productpage-images {
    display: inline-block;
    width: 60%;
    display: inline-block; }
    .productpage-images-item {
      width: 48%;
      height: 30em;
      display: inline-block;
      margin-right: .5em;
      margin-bottom: 1em; }
      .productpage-images-item:nth-child(2n) {
        margin-right: 0; }
  .productpage-info {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    padding: 0 2em; }
  .productpage-title {
    font-weight: normal;
    color: #434343; }
  .productpage-price {
    color: #434343; }
  .productpage-colors {
    box-sizing: border-box;
    padding: 1em 0; }
    .productpage-colors-title {
      font-size: 12.5px; }
    .productpage-colors-list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row; }
    .productpage-colors-color {
      width: 1.5em;
      height: 1.5em;
      background-color: #7b7b7b;
      border: 1px solid #000;
      border-radius: 50%;
      margin-right: 1em;
      cursor: pointer; }
      .productpage-colors-color:hover {
        opacity: .9; }
  .productpage-shipping {
    font-size: 12.5px; }
  .productpage-size_helper {
    text-decoration: underline;
    font-size: 12.5px; }
  .productpage-sizes {
    box-sizing: border-box;
    padding: 2em 0; }
    .productpage-sizes_button {
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 5px;
      color: #7b7b7b;
      outline: none; }
      .productpage-sizes_button:hover {
        color: #434343; }
      .productpage-sizes_button:active {
        transform: translateY(1px); }
  .productpage-button {
    background-color: #d0bdaf;
    color: #fff;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: .5em 3em;
    border-radius: .1em; }
    .productpage-button:hover {
      background-color: #c4b1a2; }
    .productpage-button:active {
      transform: translateY(1px); }
  .productpage-accordeon {
    box-sizing: border-box;
    padding: 1em 0; }
    .productpage-accordeon_item {
      box-sizing: border-box;
      padding: 1.5em 0;
      border-bottom: 1px solid #f1f1f1;
      margin: 0;
      border-collapse: collapse;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 12.5px; }
      .productpage-accordeon_item:hover {
        color: #434343; }
      .productpage-accordeon_item:first-child {
        border-top: 1px solid #f1f1f1; }
  .productpage-social {
    width: 100%;
    font-size: .8em;
    text-align: center;
    padding-top: 6em; }
    .productpage-social svg {
      margin-right: 3em; }
  .productpage-delivery {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    box-sizing: border-box;
    text-align: left;
    font-size: 12.5px;
    box-sizing: border-box;
    padding: 6em 0; }
    .productpage-delivery-image {
      width: 60%; }
    .productpage-delivery-info {
      width: 40%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      box-sizing: border-box;
      padding: 20em 4em;
      padding-right: 0; }
    .productpage-delivery-title {
      width: 100%;
      margin-bottom: .3em;
      font-weight: bold;
      text-align-last: auto; }
    .productpage-delivery-text {
      width: 100%;
      margin-top: .3em;
      font-weight: 300;
      text-align-last: auto; }
    @media (min-width: 768px) {

  .header-mobile {
    display: none;
    border-bottom-color: transparent; }

  .logo {
    width: 25em; }

  .navigation-mobile {
    display: none; }

  .header-desktop {
    box-sizing: border-box;
    padding-top: 2em;
    display: inline-block;
    width: 100%; }

  .homepage {
    margin-top: 0; }

  .homepage-cell_wide {
    height: 40%;
    -ms-flex-direction: row;
    flex-direction: row; }

  .homepage-cell_wide .homepage-image:first-child,
        .homepage-cell_wide .homepage-image:last-child {
    height: 16em; }

  .homepage-cell_wide .homepage-image:last-child {
    display: inline-block; }

  .homepage-image-row {
    -ms-flex-direction: row;
    flex-direction: row; }

  .homepage-cell_half:first-child {
    margin-bottom: inherit; }

  .homepage-bottom-navigation {
    -ms-flex-direction: row;
    flex-direction: row; }

  .homepage-bottom-link {
    margin-bottom: 0; }

  .footer-navigation {
    -ms-flex-direction: row;
    flex-direction: row; }

  .footer-links {
    -ms-flex-direction: row;
    flex-direction: row; }

  .footer-settings {
    width: 80%; }

  .footer-social {
    margin-top: 0; }

  .shoppage .filter {
    padding-top: 2em; }

  .shoppage .filter-title {
    margin-top: .5em;
    margin-bottom: .5em; }

  .shoppage .filter-bar {
    overflow-x: unset; }

  .shoppage .filter-list-item {
    margin-right: 3em; }

  .shoppage .filter-list-item:last-child {
    margin-right: 0; }

  .shoppage .catalog {
    padding-top: 2em;
    padding-bottom: 4em; }

  .shoppage .catalog-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2em; }

  .shoppage .catalog-item {
    width: 31%;
    margin-right: 0;
    font-size: 1em; }

  .shoppage .catalog-item-image {
    height: 32em;
    max-height: 40em; }

  .shoppage .collection {
    padding-bottom: 4em; }

  .shoppage .collection-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: 2em; }

  .shoppage .collection-item {
    width: 25%; }

  .blogpage h2 {
    text-align: left; }

  .blogpage-item {
    width: 20em;
    height: 24em;
    margin-right: 7%;
    margin-bottom: 6em; }

  .blogpage-item:nth-child(3n + 3) {
    margin-right: 0; } }
    @media (min-width: 992px) {

  .inner {
    padding: 0 4em; }

  .homepage-cell_wide .homepage-image:first-child,
        .homepage-cell_wide .homepage-image:last-child {
    height: 32em; }

  .homepage .image_overlay p {
    font-size: 1.2em;
    margin-top: 190px; }

  .homepage-bottom {
    width: 70%;
    margin-top: 8em;
    margin-bottom: 4.5em; }

  .shoppage .inner {
    padding: 0 6em; } }

/*# sourceMappingURL=style.css.map */
