.blogpage {

    display: flex;
    flex-direction: row;

    h2 {
        margin-top: 2em;
        color: $text-hover-color;
        font-size: 2em;
        font-weight: normal;
        // color: #000;
    }

    &-wrapper {
        margin: 0 auto;
        box-sizing: border-box;
        // text-align: center;
    }


    &-item {
        width: 100%;
        height: 20em;
        display: inline-block;

        @media(min-width: $screen-sm) {
            width: 20em;
            height: 24em;
            // margin-right: 5%;
            margin-right: 7%;
            margin-bottom: 6em;

            &:nth-child(3n + 3) {
                margin-right: 0;
            }

        }


        &-link {
            position: relative;

            &:hover {
                opacity: 0.1;
                transition: all .4s;
                cursor: pointer;
            }
        }
    }

}