.homepage {
    margin-top: 3.3em;

    @media(min-width: $screen-sm) {
        margin-top: 0;
    }

    &-image {
        height: 100%;
    }

    &-cell_wide {
        width: 100%;
        // height: 32em;
        height: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 1px;

        @media(min-width: $screen-sm) {

            // height: 32em;
            // min-height: 30em;
            height: 40%;
            flex-direction: row;
        }

        .homepage-image:first-child,
        .homepage-image:last-child {
            width: 100%;
            height: 15em;
            background-repeat: no-repeat;

            @media(min-width: $screen-sm) {
                height: 16em;
            }

            @media(min-width: $screen-md) {
                height: 32em;
            }
        }

        .homepage-image:first-child {
                background-image: url('/img/homepage-image-003.jpg');
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: top;
        }

        .homepage-image:last-child {
            display: none;
            background-size: 100%;

            @media(min-width: $screen-sm) {
                display: inline-block;
            }
        }
    }

    &-title {
        text-align: center;
        font-weight: bold;
        font-size: $font_mobile_size;
        margin-bottom: 3em;
        box-sizing: content-box;
        padding-top: 1em;

        @media(min-width: $screen-sm) {
            font-size: 1em;
            margin-top: 3em;
            margin-bottom: 3em;
        }

        p {
            text-transform: uppercase;
            letter-spacing: .5em;
            font-weight: 100;
            color: $text-hover-color;
            margin-bottom: 1em;

            @media(min-width: $screen-sm) {
                margin-bottom: inherit;
            }
        }

        a {

            font-size: $font_mobile_size;
            color: $text-color;
            font-weight: 400;
            font-size: .9em;

            @media(min-width: $screen-sm) {
                font-size: $elementSize;
            }

            &:hover {
                color: $text-hover-color;
            }
        }
    }

    &-image-row {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0;

        @media(min-width: $screen-sm) {
            flex-direction: row;
            padding: 0;
        }
    }

    &-cell_half {
        width: 100%;
        position: relative;


        @media(min-width: $screen-sm) {
            padding: 0;
        }

        &:first-child {
            margin-right: 3em;
            margin-bottom: 1em;

            @media(min-width: $screen-sm) {
                margin-bottom: inherit;
            }
        }
    }

    .image_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 98%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(0,0,0,0.3);
        color: #fff;
        font-size: .7em;

        @media(min-width: $screen-sm) {
            font-size: 1em;
            height: 100%;
        }

        &-title {
            text-transform: uppercase;
            font-family: $avenir_next_heavy;
            letter-spacing: .3em;
            position: absolute;
            top: 50%;
            margin-top: -1em;

            @media(min-width: $screen-sm) {
                font-size: 1.2em;
            }
        }

        &-link {
            color: #fff;
            font-size: .8em;
            font-family: "Gotham", sans-serif;
            font-weight: 400;
            text-transform: initial;
            transition: $transition;


            @media(min-width: $screen-sm) {
                font-size: $elementSize;
            }

            &:hover {
                color: $text-hover-color;
                transition: $transition_hover;
            }
        }


        // p {
        //     text-transform: uppercase;
        //     font-family: $avenir_next_heavy;
        //     letter-spacing: .3em;
        //     margin-top: 8.5em;

        //     @media(min-width: $screen-md) {
        //         font-size: 1.2em;
        //         margin-top: 10em;

        //     }
        // }

        // a {
        //     color: #fff;
        //     font-size: .8em;

        //     @media(min-width: $screen-sm) {
        //         font-size: $elementSize;
        //     }

        //     &:hover {
        //         color: $text-hover-color;
        //     }
        // }
    }


    &-bottom {
        width: 100%;
        font-size: .8em;
        margin-top: 4em;
        margin-bottom: 3em;

        @media(min-width: $screen-md) {
            width: 70%;
            margin-top: 8em;
            margin-bottom: 4.5em;
            font-size: $elementSize;

        }


        &-title {
            text-transform: uppercase;
            font-weight: bold;
            color: $text-hover-color;
            margin-bottom: 1em;

            @media(min-width: $screen-sm) {
                margin-bottom: 2em;
            }

        }

        &-navigation {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 1em;

            @media (min-width: $screen-sm) {
                flex-direction: row;
            }
        }

        &-link {
            color: $text-color;
            margin-bottom: 1em;
            font-size: 1em;


            @media(min-width: $screen-sm) {
                margin-bottom: 0;
                font-size: $elementSize;
            }

            &:hover {
                color: $text-hover-color;
            }
        }

        .svg-icon {
            width: 1em;
            height: 1em;
        }
    }


}


