.homepage {


    &-image {
        width: 100%;
        height: 425px;
    }


    &-cell_wide {
        width: 100%;
        height: 30em;
        display: flex;
        flex-direction: column;

        @media(min-width: $screen-sm) {
            height: 26em;
            flex-direction: row;
        }

        .homepage-image:first-child,
        .homepage-image:last-child {
            width: 100%;
            height: 15em;
            background-repeat: no-repeat;

            @media(min-width: $screen-sm) {
                height: 16em;
            }

            @media(min-width: $screen-md) {
                height: 26em;
            }
        }

        .homepage-image:first-child {
            background-size: 100%;
        }

        .homepage-image:last-child {
            background-size: 100%;
        }
    }

    &-title {
        text-align: center;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    &-image-row {
        display: flex;
        flex-direction: column;

        @media(min-width: $screen-sm) {
            flex-direction: row;
        }
    }

    &-cell_half {
        width: 100%;
        position: relative;

        &:first-child {
            margin-right: 2em;
        }
    }

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.3);
    color: #fff;


    h2 {
        margin-top: 35%;
        text-transform: uppercase;
    }

    a {
        color: #fff;

        &:hover {
            color: #ccc;
        }
    }
}



    &-bottom {
        margin-top: 5em;
        margin-bottom: 3em;

        &-text {
            text-transform: uppercase;
            font-weight: bold;
        }

        &-navigation {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 1em;

            @media (min-width: $screen-sm) {
                flex-direction: row;
            }
        }

        &-link {
            color: #8e8e8e;
            margin-bottom: 1em;

            @media(min-width: $screen-sm) {
                margin-bottom: 0;
            }

            &:hover {
                color: #000;
            }
        }
    }


}