.shoppage {

    .inner {
        box-sizing: border-box;
        padding-top: 2em;


        @media(min-width: $screen-md) {
            padding: 0 6em;
        }
    }


    .filter {
        width: 100%;
        background: #f3f3f3;
        padding-bottom: 1.2em;
        padding-top: 1em;
        margin-top: 1em;
        color: #000;

        @media(min-width: $screen-sm) {
            padding-top: 2em;

        }

        &-title {
            font-size: 1.5em;
            color: $text-hover-color;

            @media(min-width: $screen-sm) {
                margin-top: .5em;
                margin-bottom: .5em;
            }
        }

        &-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            overflow-x: scroll;

            @media(min-width: $screen-sm) {

                overflow-x: unset;
            }
        }

        &-list {
            display: inline-flex;
            justify-content: space-between;

            &-item {
                display: inline-block;
                position: relative;
                padding-right: 1em;
                cursor: pointer;
                font-size: .65em;
                color: $text-color;
                transition: $transition;
                margin-right: 1em;


                @media (min-width: $screen-sm){
                    margin-right: 3em;
                    padding-right: 2em;
                    font-size: $elementSize;

                    &:last-child {
                        margin-right: 0;
                    }
                }


                &:hover {
                    color: $text-hover-color;
                    transition: $transition_hover;
                }

                &:after {
                    content: '';
                    display: inline-block;
                    width: .5em;
                    height: .5em;
                    border-bottom: 1px solid #000;
                    border-left: 1px solid #000;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -.3em;
                    transform: rotate(-45deg);
                }
            }
        }

    }

    &-hr {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #bcbcbc;
    }

    .catalog {

        .inner {
            padding-top: 1em;
        }

        @media(min-width: $screen-sm) {
            padding-top: 2em;
            padding-bottom: 4em;
        }

        &-list {

            @media(min-width: $screen-sm) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 2em;
            }
        }

        &-item {
            display: inline-block;
            width: 45%;
            margin-bottom: 2em;
            margin-right: 1.5em;
            font-size: .7em;

            &:nth-child(2n) {
                margin-right: 0;
            }


            @media(min-width: $screen-sm) {
                width: 31%;
                margin-right: 0;
                font-size: 1em;
            }

            &-title {
                margin-bottom: .5em;

                @media(min-width: $screen-sm) {

                }

                a {
                    color: $text-hover-color;

                    @media(min-width: $screen-sm) {

                    }

                    &:hover {
                        color: $text-color;
                    }
                }
            }

            &-image {
                @media(min-width: $screen-sm) {
                    height: 32em;
                    max-height: 40em;
                }
            }

            &-price {
                margin-top: .5em;
            }


        }
    }

    .collection {

        @media(min-width: $screen-sm) {
            padding-bottom: 4em;
        }

        &-list {

            margin-top: 2em;

            @media(min-width: $screen-sm) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 2em;
            }
        }

        &-item {
            display: inline-block;
            width: 45%;
            margin-bottom: 2em;
            margin-right: 1.5em;

            &:nth-child(2n) {
                margin-right: 0;
            }


            @media(min-width: $screen-sm){
                width: 25%;
            }

        }
    }
}