.shoppage {

    .inner {

        @media(min-width: $screen-md) {
            padding: 0 6em;
        }
    }


    .filter {
        width: 100%;
        background: #f3f3f3;
        padding-top: 2em;
        padding-bottom: 1.2em;
        color: #000;

        &-title {
            font-size: 2em;
            margin-bottom: .5em;
        }

        &-bar {
            display: flex;
              flex-direction: row;
            justify-content: space-between;
            overflow-x: scroll;

            @media(min-width: $screen-sm) {

                overflow-x: unset;
            }
        }

        &-list {
            display: flex;
            justify-content: space-between;

            &-item {
                position: relative;
                padding-right: 2em;
                cursor: pointer;
                font-size: $elementSize;
                color: $text-hover-color;
                transition: $transition;

                @media (min-width: $screen-sm){
                    margin-right: 3em;

                    &:last-child {
                        margin-right: 0;
                    }
                }



                &:hover {
                    color: $text-hover-color;
                    transition: $transition_hover;
                }

                &:after {
                    content: '';
                    display: inline-block;
                    width: .5em;
                    height: .5em;
                    border-bottom: 1px solid #000;
                    border-left: 1px solid #000;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -6px;
                    transform: rotate(-45deg);
                }
            }
        }

    }

    &-hr {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #bcbcbc;
    }

    .catalog {
        padding-top: 2em;
        padding-bottom: 4em;

        &-list {
            margin-top: 2em;
            margin-bottom: 2em;

            @media(min-width: $screen-sm) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &-item {
            width: 100%;

            @media(min-width: $screen-sm) {
                width: 31%;
            }

            &-title {
                a {
                    color: $text-hover-color;

                    &:hover {
                        color: $text-color;
                    }
                }
            }

            &-image {
                @media(min-width: $screen-sm) {
                    height: 32em;
                    max-height: 40em;
                }
            }

            &-price {
                margin-top: .5em;
            }


        }
    }

    .collection {
        // padding-top: 2em;
        padding-bottom: 4em;

        &-list {

            display: flex;
            flex-direction: column;
            margin-top: 2em;
            margin-bottom: 2em;


            @media(min-width: $screen-sm) {
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
            }
        }

        &-item {
            width: 100%;

            @media(min-width: $screen-sm){
                width: 25%;
            }

        }
    }
}