@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/gotham-light.woff') format('woff'),
       url('../fonts/gotham-light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/gotham-bold.woff)') format('woff'),
       url('../fonts/gotham-bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next Heavy';
  src: url('../fonts/AvenirNext-Heavy.woff') format('woff'),
       url('../fonts/AvenirNext-Heavy.woff2') format('woff2');

}

@font-face {
  font-family: 'Avenir Next bold';
  src: url('../fonts/avenir-next-bold.woff') format('woff'),
       url('../fonts/avenir-next-bold.woff2') format('woff2');
  font-weight: 700;
}