body {
    min-width: 320px;
    margin: 0;
    font-family: $font-family;
    color: $text-color;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: $text-color;
    transition: $transition;

    &:hover {
        color: $text-hover-color;
        transition: $transition_hover;
    }
}

.inner {
    max-width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 .5em;
}

.wide_inner {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 .5em;
}

.svg-icon {
    width: 1.4em;
    height: 1.4em;
    fill: $text-color;
    transition: all .375s;

    &:hover {
        fill: $text-hover-color;
        transition: all 0s;
    }
}

