body {
    min-width: 320px;
    margin: 0;
    font-family: $font-family;
    color: $text-color;
    font-weight: 400;
    letter-spacing: .1em;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: $text-hover-color;
    }
}


.inner {
    // max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 .5em;

    @media(min-width: $screen-md) {
        padding: 0 4em;
    }
}

.wide_inner {
    width: 100%;
    // max-width: 1600px;
    margin: 0 auto;
    // box-sizing: border-box;
    // padding: 0;
}

.svg-icon {
    width: 1.4em;
    height: 1.4em;
    fill: $text-color;
    transition: all .375s;

    &:hover {
        fill: $text-hover-color;
        transition: all 0s;
    }
}

