body {
    min-width: 320px;
    margin: 0;
    font-family: $font-family;
    color: $text-color;
    font-weight: 400;
    letter-spacing: .1em;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // object-fit: scale-down;
}

a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: $text-hover-color;
    }
}


.inner {
    // max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 1.2em;

    @media(min-width: $screen-md) {
        padding: 0 4em;
    }
}

.wide_inner {
    width: 100%;
    // max-width: 1600px;
    margin: 0 auto;
    // box-sizing: border-box;
    // padding: 0;
}

.svg-icon {
    width: 1em;
    height: 1em;
    fill: $text-color;
    stroke: $text-color;
    transition: all .375s;

    @media(min-width: $screen-sm) {
        width: 1.4em;
        height: 1.4em;
    }

    &:hover {
        fill: $text-hover-color;
        stroke: $text-hover-color;
        transition: all 0s;
    }
}



div.tab {
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f1f1f1;


    @media(min-width: $screen-sm) {
        width: 40%;
        max-width: 16em;
        min-width: 16em;
        margin-right: 15%;
        border-bottom: none;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 3em 0;

        @media(min-width: $screen-sm) {
            flex-direction: row;
        }
    }
}

/* Style the buttons inside the tab */
div.tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    padding-left: 0;
    transition: 0.3s;
    text-align: left;
    font-size: .8em;
    background-color: transparent;
    border: none;
    color: $text-color;
    text-transform: uppercase;
    white-space: nowrap;

    @media(min-width: $screen-sm) {
        padding: 14px 16px;
    }

    &:hover {
        text-decoration: underline;
    }
}

/* Change background color of buttons on hover */
div.tab button:hover {
    color: $text-hover-color;
}

/* Create an active/current tablink class */
div.tab button._active {
    text-decoration: underline;
    color: $text-hover-color;
}

/* Style the tab content */
.tabcontent {
    display: none;
    text-align: left !important;

    @media(min-width: $screen-sm){
        width: 60%;
        width: 100%;
    }

    &-title {
        color: $text-hover-color;
        margin-top: .5em;
    }

    &-wrapper {
        display: inline-block;
        text-align: left;
    }
}

