$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1920px;

// $text-color: #434343;
// $text-hover-color: #7b7b7b;
$text-color: #7b7b7b;
$text-hover-color: #434343;

$gray: #e9e9e9;

$font-family: 'Gotham', sans-serif;
$font-size: 1em;
$elementSize: 12.5px;

$avenir_next_heavy : 'Avenir Next Heavy', sans-serif;
$avenir_next_ultra_light: 'Avenir Next Ultra Light', sans-serif;


$transition: all .375s;
$transition_hover: all 0s;